html {
  background:blue;
}

h1 {
  font-family:"outfit", sans-serif;
}

.outfit-<uniquifier> {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
